<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamgehem.wordsquarelite"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="8" />
    <supports-screens android:anyDensity="true"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:name="com.teamgehem.wordsquare.WordSquareActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.teamgehem.wordsquare.ViewMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamgehem.wordsquare.ViewGame"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamgehem.wordsquare.ViewChapter"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamgehem.wordsquare.ViewPreMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamgehem.wordsquare.ViewResult"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.teamgehem.wordsquare.IntroActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:name="com.google.ads.AdActivity" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>